<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
        
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filippa School</title>
</head>
<body>
    
    <form action="/api/save" autocomplete="on" method="post">
        <label for="fName">First Name: </label>
        <input type="text" id="fName" name="fName"><br>
        <label for="lName">Last Name: </label>
        <input type="text" id="lName" name="lName"><br><br>
        <input type="submit" name="Submit">
    </form>
    <h1>Hi</h1>
<!--    <h1 th:if="${#fields.hasErrors('fname')}">First name cannot be empty</h1>-->
<!--    <h1 th:if="${#fields.hasErrors('lName')}">First name cannot be empty</h1>-->
</body>
</html>